
@{
    ViewBag.Title = "Index";
}

<h3>Requisições</h3>
<div class="top20"></div>
@{
    Html.RenderAction("EmAndamento");
    Html.RenderAction("Aprovadas");
    Html.RenderAction("Compradas");
    Html.RenderAction("EntregasPrevistas");
}

<div id="modal" class="modal"></div>