
@{
    ViewBag.Title = "Index";
}

<h2>Requisições</h2>

@{
    Html.RenderAction("EmAndamento");
    Html.RenderAction("Aprovadas");
    Html.RenderAction("Compradas");
}

<div id="modal" class="modal"></div>