@model IEnumerable<Cap.Domain.Models.Requisicao.CotacaoItem>

<table class="borderless" style="border:none">
    <tr style="border:none">
        @foreach (var item in Model)
        {
            <td style="border:none; width:120px;">
                @{ 
                    Html.RenderPartial("~/Areas/Erp/Views/CotacaoFornecedor/CotacaoItemPreco.cshtml", item);
                }
            </td>
        }
    </tr>
</table>