@model IEnumerable<Cap.Domain.Models.Requisicao.CotacaoItem>

<table class="borderless" style="border:none">
    <tr style="border:none">
        @foreach (var item in Model)
        {
            <td style="border:none; width:120px;">
                @if (item.MelhorPreco == true)
                {
                    <div class="text-danger"><strong>@Html.DisplayFor(modelItem => item.Total)</strong></div>
                }
                else
                {
                    <div>@Html.DisplayFor(modelItem => item.Total)</div>
                }
                <small>@Html.DisplayFor(modelItem => item.Unitario)/@Html.DisplayFor(modelItem => item.Unidade)</small>
            </td>
        }
    </tr>
</table>