<div class="container">
    <div class="row">
        Email<br />
        <input type="email" id="email" required class="form-control" />
    </div>
    <div class="row top10">
        <input type="button" data-id="@ViewBag.IdRequisicao" id="enviar" value="Enviar" class="btn btn-primary" />
    </div>
</div>
<script src="~/Scripts/js/show-message.js"></script>
<script type="text/javascript">

    $('#enviar').click(function () {
        var id = $(this).attr('data-id');
        var email = $('#email').val();
        if (email.length > 0) {

            $('#loading').modal('show');

            $.ajax({
                url: '/Erp/CotarCom/EnviarPorEmail',
                type: 'POST',
                data: { 'idRequisicao': id, 'email': email },
                success: function (result) {
                    $('#loading').modal('hide');
                    if (result.success == true) {
                        ShowMessage(result.message);
                    } else {
                        ShowMessage(result.error);
                    }
                },
                error: function (e) {
                    $('#loading').modal('hide');
                    ShowMessage(e.error);
                }
            });
        } else {
            ShowMessage('Informe um email.');
        }
    });

</script>