@using Cap.Web.Common.Bind;
@{
    ViewBag.Title = "Arquivo morto";
}

<h2>Arquivo morto</h2>

<p>
    <a href="#" id="create">Novo arquivo</a>
</p>

@using (Html.BeginForm(null, null, FormMethod.Get, new { name="frmPesquisa", id="frmPesquisa" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container top20">

        <div class="row">
            <div class="col-md-3">
                Caixa<br />
                <input type="number" id="caixa" name="caixa" min="0" class="form-control" />
            </div>
            <div class="col-md-3">
                Departamento<br />
                @Html.SelectDepartamento(0, true)
            </div>
            <div class="col-md-3">
                Conteúdo<br />
                <input type="text" id="conteudo" name="conteudo" class="form-control" />
            </div>
            <div class="col-md-3">
                Observações<br />
                <input type="text" id="observ" name="observ" class="form-control" />
            </div>
        </div>
        <div class="row top10">
            <div class="col-md-12">
                <input type="button" id="pesquisar" value="Pesquisar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="modal" id="modal">

</div>

<div id="arquivos" class="top20">

</div>

<script type="text/javascript">

    $('#create').click(function () {
        $('#modal').load('/Erp/Arquivo/Create', function () {
            $('#modal').modal('show');
        });
    });

    $('#pesquisar').click(function () {
        var form = $('#frmPesquisa');
        $.ajax({
            url: '/Erp/Arquivo/Pesquisar',
            type: 'GET',
            data: form.serialize(),
            datatype: 'json',
            success: function (result) {
                $('#arquivos').html(result);
            }
        });
    });

</script>