
<h4>Cálculo</h4>

<div class="row top20">

    <p>
        O valor acumulado para o índice <strong>@ViewBag.Indice</strong>
        no período de <strong>@ViewBag.Inicial</strong> à <strong>@ViewBag.Final</strong> 
        é de @ViewBag.Acumulado.
    </p>
</div>
