@using Cap.Web.Common.Bind;
@model IEnumerable<Cap.Domain.Models.Gen.Indice>

@{
    ViewBag.Title = "Variações do índice";
}

<h4>Variações do índice @ViewBag.Indice</h4>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            Índice:
            @Html.SelectIndice((int)ViewBag.IdIndice, true)
        </div>
        <div class="col-md-8">
            Ano:
            @Html.DropDownList("Ano", (SelectList)ViewBag.Anos, new { @class = "form-control" })
        </div>
    </div>
</div>

<div id="variacao"></div>

<div id="modal" class="modal"></div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(function () {

        if ($('#variacao').val().trim().length <= 1) {
            variacoes();
        }

        $('#IdIndice').change(function () {
            variacoes();
        });

        $('#Ano').change(function () {
            variacoes();
        });

        function variacoes() {
            var id = parseInt($('#IdIndice').val());
            var ano = parseInt($('#Ano').val());
            if (id > 0 && ano > 0) {
                $.ajax({
                    url: '/Erp/IndVariacao/Variacoes',
                    type: 'POST',
                    data: { 'idIndice': id, 'ano': ano },
                    datatype: 'html',
                    success: function (data) {
                        $('#variacao').html(data);
                    }
                });
            }
        }
    });

</script>