@using System.Collections.Generic;
@model IEnumerable<IEnumerable<Cap.Domain.Models.Gen.IndVariacao>>

@{
    ViewBag.Title = "VariacoesIndices";
}

<h2>Variações dos índices</h2>

<table class="table table-condensed table-striped top20">    
    <tr>
        <th>ÍNDICE</th>
        @foreach (var ind in Model.First())
        {
            <th class="text-center">@ind.DataVariacao.ToString("MM/yyyy")</th>
        }
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td><strong>@item.First().Indice.Descricao</strong></td>
            @foreach(var v in item)
            {
                <td class="text-center">@v.Variacao.ToString("n2")%</td>
            }
        </tr>
    }
</table>

@Html.Action("Acumulado")