@model IEnumerable<Cap.Domain.Models.Gen.AgendaTelefone>

<h4>Telefones</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contato)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contato)
        </td>
    </tr>
}

</table>
