@using Cap.Web.Common.Bind;
@{
    ViewBag.Title = "Gráfico de vencimentos futuros";
}

<h3>Gráfico de vencimentos futuros</h3>

@using (Html.BeginForm())
{
    <div class="row top20">
        <div class="col-md-3">
            Dias:<br />
            <input type="number" id="dias" name="dias" min="1" max="31" value="@ViewBag.Dias" class="form-control" />
        </div>
        <div class="col-md-3">
            Departamento:<br />
            @Html.SelectDepartamento(0, true)
        </div>
        <div class="col-md-3">
            Pagável em:<br />
            @Html.SelectPgto(0, true)
        </div>
        <div class="col-md-3 top20">
            <input type="button" id="gerarGrafico" class="btn btn-primary" value="Gerar gráfico" />
        </div>
    </div>
}

<div class="row top50">
    <div class="col-md-12 text-center">
        <div class="panel panel-info">
            <div class="panel panel-heading"><h4>Previsão de pagamentos próximos <span id="prox"></span> dias</h4></div>
            <div class="panel-body">
                <img id="img" class="row top40" />
            </div>
        </div>        
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        gerarGrafico();
    });

    $('#gerarGrafico').click(function () {
        gerarGrafico();
    });

    function gerarGrafico() {
        var dias = parseInt($('#dias').val());
        var idDepartamento = parseInt($('#IdDepartamento').val());
        var idPgto = parseInt($('#IdPgto').val());
        $('#img').attr('src', '/Erp/Grafico/GetGrafico?dias=' + dias + '&idDepartamento=' + idDepartamento + '&idPgto=' + idPgto);
        $('#prox').html(dias);
    };

</script>